---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<nav id="table-of-contents" aria-label="Table Of Contents">
  <ul class="">
    <h3 class="text-xl font-inter font-bold pb-4 desktop:pt-0">Contents</h3>
    {
      headings.map((h) => (
        <li class="list-none my-2 !font-bold font-inter text-base text-tertiary-text cursor-pointer pl-4 border-l-2">
          <a href={`#${h.slug}`} class="no-underline font-base">
            {h.text}
          </a>
        </li>
      ))
    }
  </ul>
  
</nav>

<script is:inline>

document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });
</script>
