---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/navbar/Navbar.astro";

const { title, description, bgImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Navbar />
    <main>
      <article>
        <div
          class=""
          style={`background: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(${bgImage}) center no-repeat; background-size: cover;`}
        >
          <h1 class="custom-container text-white text-5xl font-bold py-32">
            {title}
          </h1>
        </div>
        <div class="prose custom-container">
          <div class="title">
            <hr />
          </div>
          <slot />
          <div class="my-12">
            <a href="/blog" class="pb-3 border-b-2">Previous</a>
          </div>
        </div>
      </article>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
